<!DOCTYPE html>
{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyVault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/accounts_style.css" %}">
<!--    <link rel="stylesheet" href="{% static "css/css_styling.css" %}">-->
</head>
<body>
    <h1 align="center">MyVault</h1>
    <h2 align="center">My Stored Passwords!</h2>
    <div class="container-fluid">
        <div class="djangolist" align="center">
        {% if accounts %}
            <p> There's {{ accounts|length }} Account(s) stored</p>
            <table class="content-table" >
                <thead>
                    <tr>
                        <th>Url </th>
                        <th>User Name </th>
                        <th>Password</th>
                        <th>Service</th>
                    </tr>
                </thead>
                {% for acc in accounts %}
                    <tr>
                        <td> <div> {{acc.url}} </div> </td>
                        <td> <div>{{acc.userName}} </div></td>
                        <td> <div>{{acc.password}} </div></td>
                        <td> <div>{{acc.topic}} </div></td>

                    </tr>

                {% endfor %}
            </table>

        {% endif %}

    </div>
    </div>
</body>
</html>