<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPassVault</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1 align="center"></h1>
    <h2 align="center"></h2>
    <div class="jumbotron">
      <h1 class="display-4" align="center">Welcome to MyPassVault Version 1.0</h1>
      <p class="lead" align="center">Enjoy our Open Source Project</p>
      <hr class="my-4">
      <p align="center">This Project was created to provide an OpenSource Option to safely store your passwords without having to depend
          On third party companies</p>
      <center><a class="btn btn-primary btn-lg" href="accounts.html" role="button">Show me My Passwords</a></center>
    </div>
</body>
</html>