<!DOCTYPE html>
{% extends "mydb/base.html" %}
    {% block body_block %}
        <div class="jumbotron">
      <h1 class="display-4" align="center">Welcome to Vault Pass</h1>
      <p class="lead" align="center">You can register here</p>
      <hr class="my-4">
      <p align="center">This Project was created to provide an OpenSource Option to safely store your passwords without having to depend
          On third party companies</p>
      <center><a class="btn btn-primary btn-lg" href="{% url 'mydb:signup' %}" role="button">Sing up</a></center>
    </div>
    {% endblock %}