<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% extends 'mydb/base.html' %}

{% block body_block%}
    <h1> Login</h1>
    <form class="form-group" action="" method="POST">
        {%csrf_token%}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password">
        <br>
        <input type="submit" name="" value="Login">
    </form>


{% endblock %}