body {
margin-top: 0px;
padding: 0;
}

header {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}

.content-table {

}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  /* drop the height to have a constant angle for all screen widths */
}

h1, h2{
    color: #2E86C1;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
}

.content-table thead tr th{
    background-color: rgba(16, 43, 63, 0.9);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    height: 2.8em;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0,0.15)
}

.content-table tr{
    padding: 12px;
}

.content-table td{
    padding: 7px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}

.content-table tbody tr:nth-of-type(even){
    background-color: rgb(192, 192, 192, 0.35);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.djangolist {
  overflow: auto;
  height: 100%;
  width: 100%;
  /*border: 1px solid;*/
}

