@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
}

body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-image: url("https://i.ibb.co/bKfTM8v/cool-background-1.png");
}


.container{
    border-radius: 13px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
    background-color: #D1D8F2;
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
	align-items: center;
	padding-top: 1px;
	min-height: 50vh;
	padding: 5px 45px 45px 45px;

}

.container-shadow{
    border-radius: 13px;
    display: inline-block;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    margin-top: 4%;
    margin-bottom: 0%;
    padding: 4.5% 80px 0 80px;
}
.cta{
    padding-top: 20%;
    display: flex;
}

.nav-box{
    display: flex;
	height: 2vh;
	margin:auto;
	align-items:center;
}
nav{
    flex:2;
}
.nav-links{
    display: flex;
	justify-content: space-around;
	list-style: none;
	font-size: 22px;
	align-items: right;
}
.nav-link{
    text-decoration: none;
    flex:1;
}

.myform{
    flex:1;
    padding-right:35px;
    margin-right: 5%;
}

.cta-register{
	border: 2px solid #c36cbb;
		border-radius: 5px;
	background: #c36cbb;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
	width:200px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	color: white;
	margin: 30px 0px 0px 30px;
}

.container-small{
    flex:1;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #abcbdf;
    border-radius: 3px;
    margin-bottom: 10px;
}

.introduction{
    padding: 5px 10px 5px 10px;
}

.cover img{
    align-items: center;
    height: 25vh;
    filter:drop-shadow(0px 5px 3px black);
    padding-bottom:10px;
    animation: drop 3s ease;
}

@keyframes drop{
	0%{
		opacity:0;
		transform: translateY(-80px);
	}
	100%{
		opacity:1;
		transform: translateY(0px);
	}
}