body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-image: url("https://i.ibb.co/bKfTM8v/cool-background-1.png");
}


.container{
    border-radius: 13px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
    background-color: #D1D8F2;
    width: 65%;
    margin-top: 135px;
	align-items: center;
	padding-top: 1px;
	padding-left: 50px;
	padding-right: 50px;
	min-height:80vh;
}

.container-shadow{
    border-radius: 13px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    min-height:60vh;
    margin-bottom: 10%;
    padding: 80px 80px 80px 80px;

}

.myform{
    flex:1;
    margin-left: 15px;
}

.cta-register{
	border: 2px solid #c36cbb;
		border-radius: 5px;
	background: #c36cbb;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
	width:200px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	color: white;
	margin: 30px 0px 0px 30px;
}

.container-small{
    flex:1;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #abcbdf;
    border-radius: 3px;
    margin-bottom: 10px;
    float: left
}

.introduction{
    padding: 5px 10px 5px 10px;
}

.cover img{
    align-items: center;
    height: 25vh;
    filter:drop-shadow(0px 5px 3px black);
    padding-bottom:10px;
}